{{- $url := .Destination -}}
{{- $text := .Text -}}
{{- $title := .Title -}}

{{- if or (strings.HasSuffix $url ".mp4") (strings.HasSuffix $url ".mov") (strings.HasSuffix $url ".webm") -}}
{{- .Page.Store.Set "hasVideo" true -}}
</p>
<video controls preload="metadata"{{- if $text }} aria-label="{{ $text }}"{{- end }}{{- if $title }} poster="{{ $title }}"{{- end }}>
  <source src="{{ $url }}" type="video/{{ path.Ext $url | strings.TrimPrefix "." }}">
  {{- if $text }}
  {{ $text }}
  {{- end }}
</video>
<p>
{{- else -}}
<a href="{{ $url }}"{{- with $title }} title="{{ . }}"{{- end }}>{{ $text | safeHTML }}</a>
{{- end -}}
