{{ define "main" }}
<main>
	<article>
		<ul class="grid">
		{{- if ne (.Site.Params.photos_category | default "") "" }}
			{{- $category := index .Site.Taxonomies.categories (lower .Site.Params.photos_category) -}}
			{{- $list := $category.Pages -}}
		{{- else }}
			{{- $list := where .Site.Pages ".Params.photos" "!=" nil -}}
		{{- end }}
		{{- $len := (len $list) -}}
		{{ range $index, $value := $list }}
			<li class="grid-item">
				<a href="{{ .Permalink }}">
					{{ range first 1 .Params.photos }}
						<img src="{{ . }}" loading="lazy" />
					{{ end }}
				</a>
			</li>
		{{- end -}}
		</ul>
	</article>
</main>
{{ end }}