{{- define "main" }}
<main class="archive">
	<article>
		<h1 class="page-title">{{ .Title | safeHTML }}</h1>
		
		{{- $categories := .Site.Taxonomies.categories.Alphabetical }}
		{{- $category_count := .Site.Params.show_category_count }}
		{{- if and (.Site.Params.show_categories) (gt (len $categories) 0) }}
		<div class="archive-categories">
			<div class="category-list">
				{{ range $categories }}
				<a href="{{ .Page.Permalink }}"><button>{{ .Page.Title | safeHTML }}{{- if $category_count }}&nbsp;({{ .Count }}){{- end }}</button></a>
				{{ end }}
			</div>
		</div>
		{{- end }}
		
		{{- $posts := where  .Site.RegularPages "Type" "post" }}
		{{- $grouped := $posts.GroupByDate "2006-01" }}
		{{- range $grouped }}
			<h3 class="archive-range">{{ (.Key | printf "%s-01") | dateFormat "January 2006" }}</h3>
			{{- range .Pages }}
			<p class="post-date">
				<a href="{{ .Permalink }}">{{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }} →</a>
			</p>
			<div class="entry">
				<p>{{- if .Title }}<b>{{ .Title | safeHTML }}:</b>&nbsp;{{- end }}{{ .Summary | safeHTML | truncate 300  }}</p>
			</div>
			{{- end }}
		{{- end }}
	</article>
</main>
{{- end }}