{{ define "main" }}
<main>
    <h1 class="page-title">{{ .Title }}</h1>
    {{- $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 30) }}
    {{- range $paginator.Pages  }}
    <article class="{{ range .Params.categories }}{{ . }}{{ end }}">
        {{- if isset .Params "categories" }}
        {{- range $index, $category := .Params.categories }}
            {{- $href := printf "/categories/%s" (urlize $category) | absURL }}
            {{- if gt $index 0 }}{{ end }}
        {{- end }}
        {{- end }}
        {{- if .Title }}
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="post-date">{{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }}</p>
            {{- if or (.Site.Params.show_full_post) (.Site.Params.category_full_post) }}
            {{ .Content }}
            {{- else }}
            <p>{{ .Summary | safeHTML }}</p>
            <p><a href="{{ .Permalink }}">{{ T "Continue reading" }} →</a></p>
            {{- end }}
        {{- else if in .RawContent "<!--more-->" }}
            <p class="post-date btm-margin"><a href="{{ .Permalink }}">{{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }} →</a></p>
            {{- if .Site.Params.show_full_post }}
            {{ .Content }}
            {{- else }}
            <p>{{ .Summary | safeHTML }}</p>
            {{- if .Truncated }}
            <p><a href="{{ .Permalink }}">{{ T "Continue reading" }} →</a></p>
            {{- end }}
            {{- end }}
        {{- else }}
            <p class="post-date btm-margin"><a href="{{ .Permalink }}">{{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }} →</a></p>
            {{ .Content }}
        {{- end }}
    </article>
    {{- end }}
    {{- if or ( $paginator.HasNext ) ( $paginator.HasPrev ) }}
    <nav class="main-nav">
        <ul>
            <li>{{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}">← {{ T "Older" }}</a>{{ end }}</li>
            <li>{{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}">{{ T "Newer" }} →</a>{{ end }}</li> 
        </ul>
    </nav>
    {{- end }}
</main>
{{ end }}