{{ define "main" }}
<main>
  <article class="h-entry {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }} {{ end }}{{ $category | lower | urlize }}{{ end }}">
    {{- if .Title }}
    <h1 class="{{- if eq .Type "page" }}page-title{{- else }}post-title p-name{{- end }}">{{ .Title | safeHTML }}</h1>
    {{- end }}
    {{- if ne .Type "page" }}
        {{- if .Title }}
        <p class="post-date">
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- if site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }}{{- if site.Params.show_read_time }}&nbsp;<span class="sep">&bull;</span>&nbsp;{{ .ReadingTime }}&nbsp;{{ T "min read" }}{{- end }}
          </time>
        </p>
        {{- else }}
        <p class="post-date btm-margin">
          <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- if site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }}
          </time>
        </p>
        {{- end }}
    {{- end }}
    <div class="e-content">
      {{- if .Params.photos }}
      <div class="photos">
        {{- range .Params.photos }}
        <p><img src="{{ . }}" alt="" /></p>
        {{- end }}
      </div>
      {{- end }}
      {{ .Content }}
    </div>
    {{- if .Params.categories }}
    {{- with .GetTerms "categories" }}
    <p class="categories">
      {{- range . }}
      <a href="{{ .RelPermalink }}" class="category p-category">{{ .LinkTitle }}</a>
      {{- end }}
    </p>
    {{- end }}
    {{- end }}
    {{- if ne .Type "page" }}
    <a class="u-url" href="{{ .Permalink }}" style="display:none;">Permalink</a>
    {{- if .Site.Author.name }}
    <div class="p-author h-card" style="display:none;">
      <a class="p-name u-url" href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>
    </div>
    {{- end }}
    {{- end }}
  </article>
  {{- if and (or (.NextInSection) (.PrevInSection)) (ne .Type "page") }}
  <nav class="main-nav">
    <ul>
      <li>{{ if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}">← {{ T "Older" }}</a>{{ end }}</li>
      <li>{{ if .NextInSection }}<a href="{{ .NextInSection.Permalink }}">{{ T "Newer" }} →</a>{{ end }}</li>
    </ul>
  </nav>
  {{- end }}
</main>
{{ end }}
