{{ define "main" }}
<main>
  <article class="h-entry {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }} {{ end }}{{ $category | lower | urlize }}{{ end }}">
    {{- if .Title }}
    <h1 class="post-title">{{ .Title | safeHTML }}</h1>
    {{- if not (in (slice "page" "pages") .Type) }}
    <p class="post-date">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
        {{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }}{{- if .Site.Params.show_read_time }}&nbsp;<span class="sep">&bull;</span>&nbsp;{{ .ReadingTime }}&nbsp;{{ T "min read" }}{{- end }}
      </time>
    </p>
    {{- end }}
    {{- else }}
    {{- if not (in (slice "page" "pages") .Type) }}
    <p class="post-date btm-margin">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
        {{- if .Site.Params.use_short_date }}{{ .Date | time.Format ":date_short" }}{{- else }}{{ .Date | time.Format ":date_full" }}{{- end }}
      </time>
    </p>
    {{- end }}
    {{- end }}
    <div class="e-content">
      {{- if .Params.photos }}
      <div class="photos">
        {{- range .Params.photos }}
        <p><img src="{{ . }}" alt="" /></p>
        {{- end }}
      </div>
      {{- end }}
      {{ .Content }}
    </div>
    {{- if .Params.categories }}
    {{- with .GetTerms "categories" }}
    <p class="categories">
      {{- range . }}
      <a href="{{ .RelPermalink }}" class="category">{{ .LinkTitle }}</a>
      {{- end }}
    </p>
    {{- end }}
    {{- end }}
  </article>
  {{- if and (or (.NextInSection) (.PrevInSection)) (not (in (slice "page" "pages") .Type)) }}
  <nav class="main-nav">
    <ul>
      <li>{{ if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}">← {{ T "Older" }}</a>{{ end }}</li>
      <li>{{ if .NextInSection }}<a href="{{ .NextInSection.Permalink }}">{{ T "Newer" }} →</a>{{ end }}</li>
    </ul>
  </nav>
  {{- end }}
</main>
{{ end }}