{{- $post := . }}
{{- if $post.Title }}
	<h2 class="post-title"><a href="{{ $post.Permalink }}" class="u-url">{{ $post.Title | safeHTML }}</a></h2>
	<p class="post-date">
		<time class="dt-published" datetime="{{ $post.Date.Format "2006-01-02 15:04:05 -0700" }}">
			{{- if $post.Site.Params.use_short_date }}{{ $post.Date | time.Format ":date_short" }}{{- else }}{{ $post.Date | time.Format ":date_full" }}{{- end }}{{- if $post.Site.Params.show_read_time }}&nbsp;<span class="sep">&bull;</span>&nbsp;{{ $post.ReadingTime }}&nbsp;{{ T "min read" }}{{- end }}
		</time>
	</p>
	{{- if $post.Site.Params.show_full_post }}
	{{ $post.Content }}
	{{- else }}
	<p>{{ $post.Summary | safeHTML }}</p>
	<p><a href="{{ $post.Permalink }}" class="u-url">{{ T "Continue reading" }} →</a></p>
	{{- end }}
{{- else if in $post.RawContent "<!--more-->"}}
	<p class="post-date btm-margin">
		<time class="dt-published" datetime="{{ $post.Date.Format "2006-01-02 15:04:05 -0700" }}">
			<a href="{{ $post.Permalink }}" class="u-url">{{- if $post.Site.Params.use_short_date }}{{ $post.Date | time.Format ":date_short" }}{{- else }}{{ $post.Date | time.Format ":date_full" }}{{- end }} →</a>
		</time>
	</p>
	{{- if $post.Site.Params.show_full_post }}
	{{ $post.Content }}
	{{- else }}
	<p>{{ $post.Summary | safeHTML }}</p>
	{{- if $post.Truncated }}
	<p><a href="{{ $post.Permalink }}" class="u-url">{{ T "Continue reading" }} →</a></p>
	{{- end }}
	{{- end }}
{{- else }}
	<p class="post-date btm-margin">
		<time class="dt-published" datetime="{{ $post.Date.Format "2006-01-02 15:04:05 -0700" }}">
			<a href="{{ $post.Permalink }}" class="u-url">{{- if $post.Site.Params.use_short_date }}{{ $post.Date | time.Format ":date_short" }}{{- else }}{{ $post.Date | time.Format ":date_full" }}{{- end }} →</a>
		</time>
	</p>
	{{ $post.Content }}
{{- end }}